.bg-indigo-200 {
    background-color: #c29ffa;
}

.fxs-3 {
    font-size: 0.7rem;
}

.cursor-pointer {
    cursor: pointer;
}

.hover-gray:hover {
    color: gray;
}

.color-dark {
    color: black;
}