<div class="bg-indigo-200 p-2">
    <div class="row w-50 justify-content-center mx-auto"> 
        <div class="col text-center">
            <table class="cursor-pointer hover-gray color-dark" routerLink="">
                <tr><i class="fa-solid fa-house fs-5"></i></tr>
                <tr class="fxs-3">Home</tr>
            </table>
        </div>
        <div class="col text-center">
            <table class="cursor-pointer hover-gray color-dark">
                <tr><i class="fa-solid fa-folder-closed fs-5"></i></tr>
                <tr class="fxs-3">Repository</tr>
            </table>
        </div>
        <div class="col text-center">
            <table class="cursor-pointer hover-gray color-dark" routerLink="upload-page">
                <tr><i class="fa-solid fa-cloud-arrow-up fs-5"></i></tr>
                <tr class="fxs-3">Upload</tr>
            </table>
        </div>
        <div class="col text-center">
            <table class="cursor-pointer hover-gray color-dark">
                <tr><i class="fa-solid fa-diagram-project fs-5"></i></tr>
                <tr class="fxs-3">Visualize</tr>
            </table>
        </div>
    </div>
</div>

